<p style="color: green"><%= notice %></p>
<h1 class="h3 mb-4 text-gray-800" >Categories</h1>

<div class = "row">
  <div class = "col-lg-12">
    <div class= "car shadow mb-4">
      <div class= "card-body">
        <table class="table table-striped">
          <thead>
              <th>Name</th>
              <th>Position</th>
              <th>Actions</th>
            </thead>
            <tbody>
              <% @categories.each do |category| %>
                <tr>
                  <td><%= category.name %></td>
                  <td><%= category.position %></td>
                <td>
                  <%= link_to "Detail", admin_category_path(category), class: "btn btn-dark" %> |
                  <%= link_to "Edit", edit_admin_category_path(category), class: "btn btn-warning" %> |
                  <%= button_to "Delete", admin_category_path(category), method: :delete, class: 'btn btn-danger', data: {turbo_method: :delete, turbo_confirm: 'Do you really want delete'} %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </thead>
        </table>
        <%= link_to "New category", new_admin_category_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
